@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.workingBackground {
    color: #ff6767
}

.longBreakBackground {
    color: #47de88
}

.shortBreakBackground {
    color: #36a1ff
}
