* {
    font-family: "Comfortaa", sans-serif;
  }
  body {
    background-color: #ff6767;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .title {
    color: white;
    text-align: center;
    padding-top: 1em;
    font-size: 50px;
  }
  .boxed {
    border: none;
  border-radius: 0.5em;
  background-color: #f3f3f3ff;
  text-align: center;
  justify-content: center;
  color: #666666;
  box-shadow: 1px 2px 2px #696969c5;
  height: 29em;
  width: 55em;
 }

  
  

  .centerContinueButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
  }
  
  #continueButton {
    color: white;
    background-color: #ff6767;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.15em;
    box-shadow: 1px 2px 2px #696969c5;
    width: 8.75em;
    height: 3.25em;
  }

.boxed:focus,
#continueButton {
  outline: none;
}