* {
  font-family: 'Comfortaa', sans-serif;
}

body {
  background-color: #ff6767;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.title {
  color: white;
  text-align: center;
  padding-top: 1em;
  font-size: 50px;
}

.subtitle {
  color: white;
  text-align: center;
  padding-top: 0.75em;
  font-size: 30px;
}

.centerStartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
}

#startButton {
  color: white;
  background-color: #ff6767;
  font-size: 20px;
  border-color: white;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.15em;
  box-shadow: 1px 2px 2px #696969c5;
  width: 8.75em;
  height: 3.25em;
}

.centerQuestionButton {
  margin-right: 3em;
  position: absolute;
  bottom: 5%;
  right: 0;
}

#questionButton {
  color: #a9a9a9;
  background-color: white;
  font-size: 20px;
  border-color: #696969c5;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.15em;
  box-shadow: 1px 2px 2px #696969c5;
  width: 2em;
  height: 2em;
}

#questionButton:focus {
  outline: none;
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  #questionButton {
    display: none;
  }
}

.tasksListContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.tasksList {
  list-style-type: none;
  overflow-y: auto;
  height: 20em;
  width: 29em;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tasksList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tasksList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tasksList li {
  display: flex;
  gap: 4%;
  margin-bottom: 2%;
}

.delete {
  background: none;
  border: none;
  font-weight: bold;
  color: #ce3535;
  cursor: pointer;
}

.delete:hover {
  color: #610404;
}

.task,
.taskTime {
  border: none;
  border-radius: 0.5em;
  background-color: #f3f3f3ff;
  text-align: center;
  color: #666666;
  box-shadow: 1px 2px 2px #696969c5;
}

.task {
  height: 3.5em;
  width: 30em;
}

.taskTime {
  height: 3.5em;
  width: 5em;
}

#addTaskBtn {
  border: none;
  border-radius: 0.5em;
  background-color: #d9d9d9ff;
  text-align: center;
  height: 3.5em;
  width: 100%;
  font-size: 15px;
  color: #666666;
  box-shadow: 1px 2px 2px #696969c5;
  cursor: pointer;
}

#addTaskBtn:hover {
  background-color: #b8b8b8;
}

.animation-highlight {
  animation: highlight 2s linear infinite;
  -moz-animation: highlight 2s linear infinite;
  -webkit-animation: highlight 2s linear infinite;
}

.animation-create-task {
  animation: create-task 1s ease;
  -moz-animation: create-task 1s ease;
  -webkit-animation: create-task 1s ease;
}

.animation-create-time {
  animation: create-time 1s ease;
  -moz-animation: create-time 1s ease;
  -webkit-animation: create-time 1s ease;
}

.pTask,
.pTaskTime {
  border: none;
  border-radius: 0.5em;
  background-color: #f3f3f33d;
  text-align: center;
  color: #666666;
  box-shadow: 1px 2px 2px #696969c5;
}

.pTask {
  height: 3.5em;
  width: 30em;
}

.pTaskTime {
  height: 3.5em;
  width: 5em;
}

.task:focus,
.taskTime:focus,
.pTask:focus,
.pTaskTime:focus,
#addTaskBtn,
#startButton,
.delete {
  outline: none;
}

@keyframes highlight {
  0% {
    background-color: #d9d9d9ff;
  }
  50% {
    background-color: #cf7f7f;
  }
  100% {
    background-color: #d9d9d9ff;
  }
}

@keyframes create-task {
  0% {
    width: 0em;
  }
  100% {
    width: 30em;
  }
}

@keyframes create-time {
  0% {
    width: 0em;
  }
  100% {
    width: 5em;
  }
}
