* {
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
}

.workTimerBackground {
  background-color: #ffb5b5;
  margin: auto;
  height: 13em;
  width: 31em;
  border-style: solid;
  text-align: center;
  border-color: white;
  border-width: 0.25cm;

  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  color: white;
  font-family: 'Helvetica';
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerdescription {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  border-style: dotted;
  height: 3em;
  width: 18em;
  border-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerdescription {
  color: white;
  font-size: 25px;
}

#pomosleft {
  font-size: 22px;
  color: white;
  text-align: right;
  padding-right: 20px;
}

body {
  background-color: #ff6767;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.centerEndSessionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

#EndSessionButton {
  color: white;
  background-color: #ff6767;
  font-size: 20px;
  border-color: white;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.15em;
  box-shadow: 1px 2px 2px #696969c5;
  width: 8.75em;
  height: 3.25em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tasksListContainer {
  position: sticky;
  bottom: 0%;
  text-align: center;
  width: 100%;
}

#showTasks {
  width: 50%;
  text-decoration: none;
  border: none;
  background-color: white;
  border: 3px solid #535353;
  height: 5vh;
  font-style: bold;
  font-size: 20px;
  opacity: 0.5;
  transition-duration: 0.5s;
  transition-property: opacity;
}

#showTasks:hover {
  opacity: 1;
}

#showTasks:focus {
  outline: none;
}

.tasks {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  height: 0vh;
  padding: 0;
  margin: auto;
  background-color: white;
  transition-duration: 1s;
  transition-property: height;
  width: 50%;
}

.task li {
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tasks::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tasks {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.task {
  width: 100%;
  border: none;
  padding: 0;
  margin: auto;
  border-bottom: 1px solid black;
  height: 5vh;
  text-align: center;
}

.pomos {
  margin-top: 1em;
  margin-bottom: 1em;
}
